.AuthBackground {
    background-color: #1D283A;
    position: relative;
    height: 100vh;
}

.AuthBackground__logo {
    position: absolute;
    left: 60px;
    top: 48px;
}

.AuthBackground__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}
